page-order {
  #dest {
    white-space: pre-wrap;
  },

  #destGrid {
    background-color: #F4F6F6;
  },

  #input {
    border: 1px solid grey;
    border-radius: 15px;
    height:40px;
    width:100%;
  },

  #codeButton {
    height:40px;
    width: 40%;
  }

}
