<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FIRESSE</ion-title>
    <ion-buttons end *ngIf=!this.auth.isLoggedIn>
      <button ion-button icon-start small color="light" (click)="gotoSignin()">
        <ion-icon name="contact"></ion-icon>
        登录
      </button>
      <button ion-button icon-start small block color="bright" (click)="gotoSignup()">
        <ion-icon name="create"></ion-icon>
        注册
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf=this.auth.isLoggedIn>
      <button ion-button icon-start small color="light" (click)="gotoProfile()">
        <ion-icon name="contact"></ion-icon>
        我
      </button>
      <button ion-button icon-start small color="light" (click)="logoutAlert()">
        <ion-icon name="walk"></ion-icon>
        注销
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Welcome to Firesse home</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
