<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item color='dark' no-lines>
      <img item-left src="assets/img/firesse_log_white.png" style="width: 70%; height: 70%;"/>
    </ion-item>
    <ion-buttons end *ngIf=isAdminLogged()>
      <button ion-button small block (click)="gotoAdmin()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf=!this.isLoggedIn>
      <button ion-button large (click)="gotoSignin()">
        <ion-icon name="person"></ion-icon>
      </button>
      <button ion-button large outline color='bright' (click)="gotoSignup()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf=this.isLoggedIn>
      <button ion-button icon-start small color="light" (click)="gotoProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button ion-button icon-start small color="light" (click)="logoutAlert()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <button ion-button round color='primary' (click)="startJourney()">开始体验</button>
  </div>
</ion-content>
