page-accountadmin {
  #address {
    white-space: pre-wrap;
  },

  ion-card-header {
    text-align: center;
    font-weight: bolder;
  },

  #roleS {
    max-width: 100%;
  },

  #bg {
    background-color: #D1D1D1;
  }

}
